* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    background: #737373;
  }
  
  .anchor {
    display: block;
    height: 200px;
    margin-top: -150px;
    visibility: hidden;
  }
  
  .navigation {
    display: flex;
    list-style: none;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: lobster;
    background: deepskyblue;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  
  .navigation li a {
    display: inline-block;
    font-size: 1.2em;
    padding: 1.3em;
    color: white;
    text-decoration: none;
  }
  
  .navigation li a:hover {
    background: rgb(102, 204, 255);
  }
  
  .wrap {
    background: white;
    margin: -50px 80px;
    padding-top: 70px;
    overflow: hidden;
  }
  
  .row {
    display: flex;
    flex-flow: row wrap;
  }
  
  .introduction {
    background: #bfbfbf;
    color: white;
    font-size: 1.4em;
    padding: 3em;
    flex: 60%;
  }
  
  .introduction hr {
    width: 100%;
  }
  
  .selfie img {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin-bottom: 40px;
  }
  
  .selfie {
    background: #bfbfbf;
    padding-top: 60px;
    padding-right: 20px;
    flex: 40%;
  }
  
  #portfolio {
    margin-top: -50px;
    padding: 20px;
    color: gray;
    background: #e6e6e6;
    text-align: center;
  }
  
  hr {
    width: 50%;
  }
  
  .gallery {
    margin-top: 30px;
    flex: 50%; 
    max-with: 50%;
    padding: 0 16px;
    border: 1px solid #ccc;
  }
  
  .gallery:hover {
    border: 1px solid #777;
  }
  
  .desc {
    padding: 16px;
    text-align: center;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  #gallery {
    margin-top: 40px;
  }
  
  #contact {
    margin-top: -50px;
    background: #e6e6e6;
    border-top: 2px solid #808080;
    padding: 20px;
    text-align: center;
    color: grey;
  }
  
  #mycontact {
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  
  .button {
    background: deepskyblue;
    border: 1px solid #6666ff;
    border-radius: 12px;
    box-shadow: 10px 10px 10px black;
    width: 160px;
    color: white;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 80px 30px;
    cursor: pointer;
  }
  
  footer {
    background: deepskyblue;
    padding: 15px;
    text-align: center; 
    color: white;
  }
  
  @media all and (max-width: 600px) {
     .navigation {
      justify-content: space-between;
      padding: 0;
    }
    .navigation li {
      font-size: 0.8em;
      text-align: center;
      border-top: 1px solid rgba(255,255,255,0.3);
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .navigation li a {
      display: block;
    }
    .wrap {
      padding-top: 20px;
    }
    .row {
      flex-flow: row wrap;
      justify-content: space-between;
    }
    #mycontact  .button {
      margin 15px auto;
    }
    #mycontact {
      flex-direction: column;
    }
    .gallery {
      flex: 100%;
    }
  }
  
  @media all and (max-width: 900px) {
     .navigation {
      justify-content: space-around;
    }
    .wrap {
      margin: -50px 0 0 0;
    }
    .row {
      flex-direction: column;
    }
    #mycontact .button {
      margin: 15px auto;
    }
  }
  
    
  